@charset "UTF-8";
html {
  scroll-behavior: smooth;
}
 .row-equal>div[class*='col-'] {
	display: flex;
	flex: 1 0 auto;
	height: 300px;
}

/* .row-equal .card {
	width: 100%;
} */

ensure equal card height inside carousel
.carousel-inner>.row-equal.active, .carousel-inner>.row-equal.next,
	.carousel-inner>.row-equal.prev {
	display: flex;
}
 
prevent flicker during transition
.carousel-inner>.row-equal.active.left, .carousel-inner>.row-equal.active.right
	{
	opacity: 0.5;
	display: flex;
}

/* control image height */
.card-img-top-250 {
	/* 	width: 100%; */
	height: 200px;
	border-radius: 5px;
	max-height: 250px;
	overflow: hidden;
}

.btn-outline-secondary {
	/* 	position:absolute; */
	/* 	float:left; */
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.lead {
	margin-top: 20px;
}

h1 {
	margin: 30px;
	font-size: 50px;
}

/* 아래 이미지 css */
body {
	background-color: !important;
	font-family: "Asap", sans-serif;
	color: #989898;
	margin: 10px;
	font-size: 16px;
}

#demo {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.green {
	background-color: #6fb936;
}

.thumb {
	margin-bottom: 30px;
}

.page-top {
	margin-top: 85px;
}

img {
	width: 100%;
	height: 200px;
	border-radius: 5px;
	max-height: 250px;
	overflow: hidden;
}

div.zoom {
	width: 100%;
/* 	height: 100%; */
	border-radius: 5px;
		object-fit: cover; 
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

.transition {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.modal-header {
	border-bottom: none;
}

.modal-title {
	color: #000;
}

.modal-footer {
	display: none;
}

.searchbar {
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 52px;
	
	margin-top: auto;
	
	background-color: rgba(211, 211, 211, 0.753);
	border: 1 solid black;
	border-radius: 30px;
	padding: 10px;
}


/* write.btn{ */
/* 	color: rgba(211, 211, 211, 0.753); */
/* } */



button {
	font-size: 40px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
div.form-group{
    padding-left: 20px;
    padding-top: 10px;
    width: 120px;
    height: 70px;
    margin-bottom: 0px;
}



/* a.navbar-brand {
	margin-bottom: 50px;
}

 */

